[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/codedoe
[access "refs/for/refs/*"]
	read = group user/codedoe
	push = group user/codedoe
	label-Code-Review = -2..+2 group user/codedoe
	label-Verified = -1..+1 group user/codedoe
	rebase = group user/codedoe
	removeReviewer = group user/codedoe
	submit = group user/codedoe
[access "refs/heads/*"]
	read = group user/codedoe
	create = group user/codedoe
	push = +force group user/codedoe
	pushMerge = group user/codedoe
[access "refs/tags/*"]
	push = +force group user/codedoe
	pushTag = group user/codedoe
	pushSignedTag = group user/codedoe
